<script type="text/javascript" src="{{ site.url }}/scripts/vendor/jquery-1.11.1.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ site.url }}/scripts/vendor/angular.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ site.url }}/scripts/vendor/angular-resource.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ site.url }}/scripts/main.js" charset="utf-8"></script>
<script type="text/javascript" src="{{ site.url }}/scripts/angular-todo.js" charset="utf-8"></script>
