<header class="site-header">

        <div class="wrap">
          <div class="row">

            <div class="col-4"></div>

            <div class="col-4">
              <button name="addtodo" type="button" class="todo-add" id="add-todo" todo-addnew="" ng-click="addTodo('#todo-list')"><span class="hide-text">Add</span></button>
            </div>

            <div class="col-4">
              <a class="todo-refresh" ng-click="refresh()"><span class="hide-text">Refresh</span></a>
            </div>

          </div>

        </div>

      </header>
