.btn {
  @include inline-block();
  border: none;
  background-color: $white;
  color: $green;
  text-transform: uppercase;
  padding: 0.5em 1.8em;

}
.btn-ctrl {
  @extend .btn;
  background-color: #f8f7f7;
  color: #333;
  &:hover {
    background-color: darken(#f8f7f7, 10%);
  }
}
.icon-btn {
  @extend .btn;
  background-color: transparent;
  line-height: 1em;
  padding: 0.4em;
  margin: 0 0.8em;
}
.btn-huge {
  width: $huge-size-mobile;
  height: $huge-size-mobile;
  line-height: $huge-size-mobile;
  &:after {
    font-size: $huge-size-mobile;
    position: relative;
    top: 1px;
  }
  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    & {
      width: $huge-size-tablet;
      height: $huge-size-tablet;
      line-height: $huge-size-tablet;
      &:after {
        font-size: $huge-size-tablet;
      }
    }
  }
  @media (min-width: $screen-desktop-min) {
    & {
      width: $huge-size-desktop;
      height: $huge-size-desktop;
      line-height: $huge-size-desktop;
      &:after {
        font-size: $huge-size-desktop;
      }
    }
  }
}
.btn-xs {
  width: $small-size-mobile;
  height: $small-size-mobile;
  line-height: $small-size-mobile;
  &:after {
    font-size: $small-size-mobile;
    position: relative;
    top: 1px;
  }
  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    & {
      width: $small-size-tablet;
      height: $small-size-tablet;
      line-height: $small-size-tablet;
      &:after {
        font-size: $small-size-tablet;
      }
    }
  }
  @media (min-width: $screen-desktop-min) {
    & {
      width: $small-size-desktop;
      height: $small-size-desktop;
      line-height: $small-size-desktop;
      &:after {
        font-size: $small-size-desktop;
      }
    }
  }
}
.btn-round {
  border-radius: 50%;
  padding: 0;

}
