.btn {
  @include inline-block();
  border: none;
  background-color: $white;
  color: $red;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 0.5em 1.8em;

}
.btn-ctrl {
  @extend .btn;
  background-color: #f8f7f7;
  color: #333;
  padding: 0.5em 1.0em;
  &:hover {
    background-color: darken(#f8f7f7, 10%);
  }
}
.icon-btn {
  @extend .btn;
  background-color: transparent;
  line-height: 1em;
  padding: 0.4em;
  margin: 0 0.8em;
}
