.checkbox {
  width: $checkbox-size-mobile;
  height: $checkbox-size-mobile;
  position: relative;
  top: $checkbox-distance-mobile;
  margin: 0 0;
  background: $white;
  display: inline-block;
  @include box-shadow((inset 1px 1px 0 0 rgba(0,0,0,0.4)));
  label {
    width: $checkbox-size-mobile - 7;
    height: $checkbox-size-mobile - 7;
    position: absolute;
    top: $checkbox-distance-mobile;
    left: $checkbox-distance-mobile;
    cursor: pointer;
    &:after {
      content: '';
      width: $checkbox-size-mobile - 7;
      height: $checkbox-size-mobile - 7;
      position: absolute;
      top: 0;
      left: 0;
      background: $green;
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

@media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
  .checkbox {
    width: $checkbox-size-tablet;
    height: $checkbox-size-tablet;
    top: $checkbox-distance-tablet;
    label {
      width: $checkbox-size-tablet * 0.6;
      height: $checkbox-size-tablet * 0.6;
      top: $checkbox-distance-tablet;
      left: $checkbox-distance-tablet;
      &:after {
        width: $checkbox-size-tablet * 0.6;
        height: $checkbox-size-tablet * 0.6;
      }
    }
  }
}

@media (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
  .checkbox {
    width: $checkbox-size-desktop;
    height: $checkbox-size-desktop;
    top: $checkbox-distance-desktop;
    label {
      width: $checkbox-size-desktop * 0.63;
      height: $checkbox-size-desktop * 0.63;
      top: $checkbox-distance-desktop;
      left: $checkbox-distance-desktop;
      &:after {
        width: $checkbox-size-desktop * 0.63;
        height: $checkbox-size-desktop * 0.63;
      }
    }
  }
}
