
[class*="icon-"] {
  position: relative;
  &:before,
  &:after {
    font-family: $icon-font;
  }
}

// Icons: http://thenounproject.com/tlb/
.icon-tick:after {
  content: "\e602";
}
.icon-cross:after {
  content: "\e600";
}
.icon-circle:after {
  content: "\e601";
}
.icon-plus:after {
  content: "\e603";
}
.icon-double-tick {
  &:before {
    content: "\e602";
  }
  &:after {
    content: "\e602";
  }
}
