.todos {
  @extend .box;
  @extend .clearfix;
  .todo-item {
    @extend .row;
    cursor: pointer;
    background-color: #eae9e9;
    margin: 2px 0;

    > label {
      @extend .wrap;
      div.checkbox {
        margin-right: 0.4em;
      }
      input.checkbox:checked + span {
        text-decoration: line-through;
        color: lighten(#333, 50%);
      }
    }

    &:not(.add-new):hover {
      background-color: #faf9f9;
    }

    &.add-new {
      background-color: darken(#faf9f9, 15%);
      border: 1px solid darken(#faf9f9, 25%);
      div[class*="col-"] {
        line-height: 2.4em;
      }
      input[type="text"] {
        width: 95%;
      }
    }
    .todo-title {
      font-size: 1.2em;
    }
    label.done .todo-title span {
      text-decoration: line-through;
      color: lighten(#333, 50%);
    }
    .todo-action {
      text-align: right;
    }
    .todo-delete {
      @extend .icon;
      @extend .icon-cross;
      @extend .btn;
      @extend .btn-xs;
      @extend .btn-round;
      display: inline-block;
      text-align: center;
      color: lighten($grey, 25%) !important;
      text-decoration: none;
        background-color: transparent !important;
    }
    .todo-create {
      @extend .icon;
      @extend .icon-tick;
      @extend .btn;
      @extend .btn-xs;
      @extend .btn-round;
      display: inline-block;
      text-align: center;
      color: lighten($grey, 5%) !important;
      text-decoration: none;
        background-color: transparent !important;
    }
  }
  .todo-itemless {
    @extend .wrap;
    p {
      font-size: 1.4em;
      color: #888;
      text-align: center;
    }
    span {
      &:before,
      &:after {
        display: inline-block;
      }
      &:before {
        content: "“"
      }
      &:after {
        content: "”"
      }
    }
  }
}

@media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
  .todos {
    .todo-title {
      line-height: 1.6em;
    }
  }
}

@media (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
  .todos {
    .todo-title {
      line-height: 2em;
    }
  }
}
