// Row
.row {
  @extend .clearfix;
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

// Columns
[class^=col] {
  @extend .box;
  padding-left: $column-padding;
  padding-right: $column-padding;
  float: left;
  min-height: 1px;
}
.col-1 { @include column-width(1); }
.col-2 { @include column-width(2); }
.col-3 { @include column-width(3); }
.col-4 { @include column-width(4); }
.col-5 { @include column-width(5); }
.col-6 { @include column-width(6); }
.col-7 { @include column-width(7); }
.col-8 { @include column-width(8); }
.col-9 { @include column-width(9); }
.col-10 { @include column-width(10); }
.col-11 { @include column-width(11); }
.col-12 { @include column-width(12); }


// Setting the box
.box {
  box-sizing: border-box;
  display: block;
}

// Hide text
.hide-text {
  display: none;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  margin: 0;
}


/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
