@mixin column-width($number: 12) {
  width: 100% / $number-of-columns * $number;
}

@mixin offset-width($number: 12) {
  margin-left: 100% / $number-of-columns * $number;
}

@mixin inline-block ($haslayout : true){
	display: inline-block;
	vertical-align: middle;
	@if $haslayout == true {
		.lt-ie8 & {
			display: inline;
			zoom: 1;
		}
	}
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
