$red:      #ed0021;
$white:    #ffffff;
$green:    #419a45;

$site-width:  600px;
$site-offset: emtopx(2.5, 16);

$number-of-columns: 12;
$column-padding:    10px;

$wrap-vertical-padding: 12px;

$footer-height: 81px;
