@font-face {
  font-family: 'Todo Icons';
  src:url('fonts/TodoApp-icons.eot?8dyw0f');
  src:url('fonts/TodoApp-icons.eot?#iefix8dyw0f') format('embedded-opentype'),
    url('fonts/TodoApp-icons.woff?8dyw0f') format('woff'),
    url('fonts/TodoApp-icons.ttf?8dyw0f') format('truetype'),
    url('fonts/TodoApp-icons.svg?8dyw0f#TodoApp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
