header {
  background: $green;
  padding: 1em 0;
  .wrap > div.row {
    @extend .row;
  }
  h2 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin: 0;
  }
  figure,
  span {
    display: block;
  }
  figure {
    margin: 0;
  }
  div[class*="col-"] {
    text-align: center;
    line-height: $huge-size-mobile;
    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      & {
        line-height: $huge-size-tablet;
      }
    }
    @media (min-width: $screen-desktop-min) and (max-width: $screen-desktop-max) {
      & {
        line-height: $huge-size-desktop;
      }
    }
  }
  .todo-add {
    @extend .icon;
    @extend .icon-plus;
    @extend .btn;
    @extend .btn-huge;
    @extend .btn-round;
    text-align: center;
  }
  .todo-refresh {
    @extend .icon;
    @extend .icon-refresh;
    @extend .btn;
    @extend .btn-large;
    @extend .btn-round;
    color: rgba(255,255,255,0.4) !important;
    background-color: transparent !important;
  }
}
