header {
  background: $green;
  padding: 1em 0;
  .wrap > div.row {
    @extend .row;
  }
  h2 {
    color: #fff;
    font-weight: 100;
    text-align: center;
    margin: 0;
  }
  figure,
  span {
    display: block;
  }
  figure {
    margin: 0;
  }
  div[class*="col-"] {
    text-align: center;
  }
  .btn {
    @extend .btn-huge;
    @extend .btn-round;
    text-align: center;
  }
}
